@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
  font-family: "Quicksand", sans-serif;

}
/*global style start*/

.btn {
  background-color: #fe8c45;
  color: white;
  font-weight: 300;
}
.btn:hover {
  border: 1px solid #fe8c45;
}

.pointer{
  cursor: pointer;
}

.span-color{
    color: #8a47f6;
}

/*global style end*/

/*navbar section*/

.nav-link {
  font-size: 20px;
  transition: color .9s ;
}
.nav-link:hover{
  color: #fe8c45;
  border-bottom: 1px solid #fe8c45;
}

/* hero/carousal section*/

.large-font {
    font-size: 100px;
    font-weight: 700;
  }
  .h-line {
    display: inline-block;
    width: 300px;
    height: 40px;
    background-color: #8a47f6;
    border-radius: 20px;
  }
  .slides {
    height: 25px;
    width: 25px;
    background-color: #ededed;
  }
  .slider-control{
    width: 58%;
    position: absolute;
    right: 0;
  }

  /*Photography section*/

  .big-font2 {
    font-size: 70px;
    font-weight: 800;
  }
  .photo-bg{
    background-color: #8a47f617;
  }

/*Portfolio section*/

.activate{
    border-bottom: 2px solid #8a47f6;
    color: #8a47f6;
  }
  .portfolio-h1{
    font-size: 63px;
    font-weight: 700;
  }

  /*Prices section*/

.price-h1{
    font-size: 64px;
    font-weight: 700;
  }
  .price-h1-2{
    font-size: 60px;
    font-weight: 900;
  }

  /*Client section*/

.client-h1{
    font-size: 60px;
    font-weight: 700;
  }
  .low-width{
    width: 300px;
  }
  .icons{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  /*Instagram section*/

.ins-h1{
    font-size: 57px;
    color: black;
    font-weight: 700;
  }
  .sm{
    font-size: 22px;
  }

  /*Question section*/

.que-h1{
    font-size: 60px;
  }
  .msgInputHeight{
    height: 280px;
  }
  .changes-top{
    margin-top: 90px;
  }

  /* Responsive Side */

  @media (max-width: 768px) {
    .large-font{
      font-size: 60px;
    }
  }

  @media (max-width: 576px) {
    .large-font{
      font-size: 35px;
    }
    .h-line{
        width: 100px;
        height: 20px;
    }
    /*Photography section*/
    .big-font2{
        font-size: 35px;
    }

    /*Portfolio section*/
    .portfolio-h1{
        font-size: 35px;
    }
    /*Client section*/
    .client-h1{
        font-size: 35px;
    }
    /*Instagram section*/
    .ins-h1{
        font-size: 25px;
    }
    /*Question section*/
    .que-h1{
        font-size: 35px;
    }
  }