@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
  font-family: "Quicksand", sans-serif;

}
.btn {
  background-color: #fe8c45;
  color: white;
  font-weight: 300;
}
.btn:hover {
  border: 1px solid #fe8c45;
}

.pointer{
  cursor: pointer;
}

.mlk{
  margin-left: 2px;
  margin-right: 2px;
}
.span-color{
    color: #8a47f6;
}
/*navbar section*/

.nav-link {
  font-size: 20px;
  transition: color .9s ;
}
.nav-link:hover{
  color: #fe8c45;
  border-bottom: 1px solid #fe8c45;
}

/* hero/carousal section*/

.large-font {
    font-size: 100px;
    font-weight: 700;
  }
  .h-line {
    display: inline-block;
    width: 300px;
    height: 40px;
    background-color: #8a47f6;
    border-radius: 20px;
  }
  .slides {
    height: 25px;
    width: 25px;
    background-color: #ededed;
  }
  .slider-control{
    width: 58%;
    position: absolute;
    right: 0;
  }

  /*Photography section*/

  .big-font2 {
    font-size: 70px;
    font-weight: 800;
  }
  .photo-bg{
    background-color: #8a47f617;
  }

/*Portfolio section*/

.activate{
    border-bottom: 2px solid #8a47f6;
    color: #8a47f6;
  }
  .sec3-h1{
    font-size: 63px;
    font-weight: 700;
  }

  /*Prices section*/

.price-h1{
    font-size: 64px;
    font-weight: 700;
  }
  .price-h1-2{
    font-size: 60px;
    font-weight: 900;
  }